
<div *ngIf="rNS_PCH_MASTER">
    <h2><span>RNS PCH MASTER</span> {{rNS_PCH_MASTER.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>P CHCODE</span></dt>
        <dd>
            <span>{{rNS_PCH_MASTER.pCHCODE}}</span>
        </dd>
        <dt><span>P CHNAME</span></dt>
        <dd>
            <span>{{rNS_PCH_MASTER.pCHNAME}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rns-pch-master/'+ rNS_PCH_MASTER.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
