
<div *ngIf="rNS_EMP_MASTER">
    <h2><span>RNS EMP MASTER</span> {{rNS_EMP_MASTER.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>E MPCODE</span></dt>
        <dd>
            <span>{{rNS_EMP_MASTER.eMPCODE}}</span>
        </dd>
        <dt><span>E MPNAME</span></dt>
        <dd>
            <span>{{rNS_EMP_MASTER.eMPNAME}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'rns-emp-master/'+ rNS_EMP_MASTER.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
